
<% if @task.errors.any? %>
<% @task.errors.full_messages.each do |m|%>
<div class="notification is-info is-light">
  <button class="delete"></button>
  <%= m %><br>
</div>
<% end%>
<% end%>



<div class= "form text-center">
        <h1>CREATE NEW TASK</h1>
        <%= form_with model: @task, local: true, class: "form-group" do |f|%>
                <%= f.label :name %>
                <%= f.text_field :name%><br>
                <%= f.label :interval %>
                <select name="interval" >
                        <option value=daily>Daily</option>
                        <option value=weekly>Weekly</option>
                        <option value=bi-weekly>Bi-Weekly</option>
                        <option value=monthly>Monthly</option>
                </select><br>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :plant_id, value: params[:plant_id] %>

                <%= f.submit %>
        
        <% end %>
</div> 