<% if @task.errors.any? %>
<% @task.errors.full_messages.each do |m|%>
<%= m %><br>
<% end%>
<% end%>

<div class= "form">
<%= form_for @task do |f|%>
        <%= f.label :task %>
        <%= f.text_field :content %><br>
        <%= f.label :start_date %>
        <%= f.date_select :start_date %><br>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :plant_id, value: params[:plant_id] %>

        <%= f.submit %>
        
        <% end %>
</div>