  
<section class="hero is-success section $section-padding-medium">
<section class="hero is-success section $section-padding-medium">
    
      <h1 class="title">Sign Up</h1>
      <h2 class="subtitle">
        Welcome to <strong>Komorebi</strong>, your plant's are gonna love you for this.
      </h2>
    
  </section>
  <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
        <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.fields_for :garden_name do |g| %>
      <%= g.label :garden_name %>
      <%= g.text_field :garden_name  %>   
      <% end %>
    <br>
    <%= f.submit %>
    <% end%>
        </article>
        <article class="tile is-child notification is-warning">
        <figure class="image is-4by3">
            <%= image_tag "home/plant.jpg" %>
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <figure class="image is-4by4">
            <%= image_tag "home/KOMOREBI.png" %>
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        
        MADE WITH  🤍  BY NETALY & FRANCISCO
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">木漏れ日:Komorebi </p><p class="subtitle">n.</p>
        <p class="subtitle">Sunlight that filters through the leaves of trees.</p><br><br>

        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>






