
<% if @plant.errors.any?  %>
    <% @plant.errors.full_messages.each do |m| %>
        <div class="notification is-success is-light">
  <button class="delete"></button>
  <%=  m %>
</div>
    <% end %>
<% end %>
</div>



<div class= "form text-center" >
<br>
<%= form_for @plant do |f| %>
    <%= f.hidden_field :garden_id, value: "#{current_user.garden.id}" %>
    <div class="form-group">
        <%= f.label :plant%>
        <%= f.text_field :plant_type, class: "form-control" %> 
    </div>
    <div class="form-group">
        <%= f.label :nickname%>
        <%= f.text_field :nickname, class: "form-control" %> 
    </div>
    <div class="form-group">
        <%= f.label :size_in_inches%>
        <%= f.number_field :size, class: "form-control", placeholder: "inch" %>
    </div>

    <div class="form-group">
        <%= f.label :amount_of_water%>
        <%= f.number_field :water_ammount, class: "form-control", placeholder: "cup"%> 
    </div>
    <br>
    <%= f.submit "Plant Seed", class: "btn btn-outline-info"%>
<% end %>
<br>
</div>