<div class= "plantpage">
    <div class="d-flex justify-content-around">
    <h1>Name: <%= @plant.nickname %></h1>
    <h1>Type: <%= @plant.plant_type%></h1>
    </div>
    <br>
    <div class="d-flex justify-content-around">
    <h1>Size: <%= @plant.size %> inch</h1>
    <h1>Water: <%= @plant.water_ammount %> cups</h1>
    </div>
</div>
    
<div class= "taskbutton">
    <%= link_to "New Task", new_task_path(plant_id: @plant.id) %>
</div>

<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="hero title">
      <h2 class="hero subtitle">
        Tasks:  


<div class="d-flex justify-content-between flex-wrap">


<% @plant.tasks.each do |task|%>
<br>
 <br><div class="width-20 rounded-lg box hero is-success">
    <%= button_to task.name, task, method: :patch, class: "btn btn-success" %>
    <span><small>Frequency:</small></span>
    <small><%= task.interval %><br></small>
    <span><small>Time Left:</small></span>
    <small><%= task.time_left %></small>
    
    <%= button_to  "   ", task, method: :delete, class: "border"%>
    </div>
<br>
<br>
<% end %>
</div>
        </h1>
      </h2>
    </div>
  </div>
</section>