<div class= "plantpage">
    <%= @plant.plant_type%>
    <%= @plant.nickname %>
    <%= @plant.size %> inch
    <%= @plant.water_ammount %>
</div>
    
<div class= "taskbutton">
    <%= link_to "New Task", new_task_path(plant_id: @plant.id) %>
</div>

<div class="taskslist">
    <% @plant.tasks.each do |task|%>
    <%= task.content %>
    <% end %>
</div>

