<div class=" d-flex justify-content-between border">
    <div class="d-flex flex-column plant-data">
       <table class="table-bordered table-dark">
            <tr>
                <th scope="row">Nick Name: </th>
                <td> <%= @plant.nickname %></td>
            </tr>
            <tr>
                <th>Type: </th>
                <td><%= @plant.plant_type %></td>
            </tr>
            <tr>
                <th>Size: </th>
                <td><%= @plant.plant_type %></td>
            </tr>
            <tr>
                <th id="care"> Care:
               
                <p id="care-attr"> *water amount</p>
                </th>
                <td><%= @plant.water_ammount %></td>
            </tr>
       </table>
    </div>

    <div class="d-flex flex-column w-100 task-box-container ml-5">
        <div class="d-flex justify-content-end new-task"> 

            <%= link_to "+", new_task_path(plant_id: @plant.id), class: "btn btn-outline-info new-task-btn"%>
        </div>
            <div class="d-flex justify-content-start flex-wrap ">
            
                <% @plant.tasks.each do |task|%>
                    <div class="task-btn w-auto">
                        <div class="col btn task <%= task.time_left == "Overdue." ? "btn-outline-danger" : "btn-outline-info" %>" >
                        <h1>Task:</h1>
                            <%= link_to task.name, task, method: :patch, class: "task-name" %>
                            <hr id="taskline">
                            
                            <span><small>Frequency:</small></span>
                            <small><%= task.interval %><br></small>
                            <span><small>Time Left:</small></span>
                            <small><%= task.time_left %></small>
                            <%= button_to  "🗑", task, method: :delete, class: "trash"%>
                        
                        </div>
                    </div>
                <% end %>
            </div>
    </div>


</div>




