
 <h2><%= @garden.garden_name %></h2>

 <p><%= @garden.user.username %></p>
 
<div class="headerNav">
    <%=button_to "Seed",new_plant_path, method: :get %>
</div>


   Current Plant Population:<%= @garden.plant_population %>
  
  <h4>Add Some Plants!</h4>


<hr>
<hr>
<div class="plant">

<% @garden.plants.each do |p|%>

   <%= link_to p.plant_type, p %> || <%= p.nickname %> 
   <br>
     <%= link_to "RIP -", p, method: :delete %>
 
<% end %>


 </div>
  <section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <h2>Garden Name: <%= @garden.garden_name %></h2>
      </h1>
      <h2 class="subtitle">
      <p><%= @garden.user.username %></p>
        <br>
        <%= link_to "Edit User", edit_user_path(current_user)%>
        <br>
        <%= link_to "Delete Profile", user_path(current_user), method: 'delete', data: {confirm: "Are you sure?"} %>
        <br>
      </h2>
    </div>
  </div>
</section>


