
 <h2><%= @garden.garden_name %></h2>

 <p><%= @garden.user.username %></p>
 
<div class="headerNav">
    <%=button_to "Seed",new_plant_path, method: :get %>
</div>


   Current Plant Population:<%= @garden.plant_population %>
  
  <h4>Add Some Plants!</h4>


<hr>
<hr>
<div class="plant">

<% @garden.plants.each do |p|%>

   <%= link_to p.plant_type, p %> || <%= p.nickname %> 
   <br>
     <%= link_to "RIP -", p, method: :delete %>
 
<% end %>

 </div>



