<!DOCTYPE html>
<html>
  <head>
    <title>LeafOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= current_user ? (render partial: "layouts/nav/logged_in") : button_to('Login', login_path, {method: :get})  %>

    <%= yield %>
      <div class="footer">
         <p>Leaf-Out</p>
      </div>
  </body>
</html>
