<!DOCTYPE html>
<html>
  <head>
    <title>LeafOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  #TODO: fix login button.
    <%= current_user ? button_to('Logout', logout_path, {method: :delete}) : button_to('Login', login_path, {method: :get})  %>

    <%= yield %>
  </body>
</html>
