<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>LeafOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <i class="fa fa-download" aria-hidden="true"></i>
  </head>

  <body>
  
    <div>
    <%= current_user ? (render partial: "layouts/nav/logged_in2") : (render partial: "layouts/nav/logged_out2")   %>

    </div>
    <div class="container">
    <%= yield %>

  <div class="bg-img">
  <%= image_tag "home/original.jpg" %>

  </div>
      
  </body>
</html>
